:root{
  
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: #2e2f42;
    --grey: #2e2f42;
    --white: #ffffff;
    --dairy: #fcfcfc;
      
       
}
body{
    font-family: "Roboto", sans-serif;
    background:var(--white);
    color: var(--slate);
    position: relative;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.list{
    list-style:none ;
}
.link{
    text-decoration: none;
}
  /* container */
.container{
    margin: auto;
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
   outline-offset: -2px;
}

.div-container{
    display: flex;
    align-items: center;
}
/* section  */
.section{
    padding: 120px 0;
}

.section-do{
    padding-bottom: 120px; 
}

.section-portfolio{
    padding-top: 96px;
    padding-bottom: 120px;
}


/* teg */
img{
    display: block;
}
/* header */
.top-line{
    background:var(--white);
    border-bottom: 1px solid var(--cornflower);
    box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    
}
/* BORDER */
/* nav  */
.nav-link{
    position: relative;
    display: block;
    padding:24px 0;
  
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--navy-blue-modal);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    

}
.nav-link:after{
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;

  transform: scaleX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover::after,
.nav-link:focus::after {
  transform: scaleX(1);
}
.nav-link.border::after {
    transform: scaleX(1);
  }
  .border {
    color: #404bbf;
  }
.nav-link:hover,
.nav-link:focus{
    color: var(--ocean);
}
                /* backdrop. */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .backdrop.is-hidden {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
  }
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 24px;
    min-height: 576px;
    min-width: 408px;
    background-color: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  .modal > button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    width: 24px;
    height: 24px;
    margin-bottom: 24px;
  
    cursor: pointer;
    color: #2e2f42;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
  }
  .modal > button:hover,
  .modal > button:focus {
    color: #ffffff;
    background-color: #404bbf;
    fill: #ffffff;
  }

/* display */
.nav{
    font-weight: 500;
    line-height: 1.5;
    display: flex;
    align-items: center;
    
 }
 /* item-info section strategy */
 .item-info{
    width: calc((100% - 72px) / 4);
 }
  .do-this{
    display: flex;
    gap: 24px; 
  }
  .cool-teams{
    display: flex;
    gap: 24px;
  }
  .need-info{
    display: flex;
    gap: 24px;
  }

  /* contacts */
.address{
    font-style: normal;
    margin-left: auto;
    
}
.contact{
    display: flex;
    gap: 40px;
}
.menu{
    display: flex;
    gap: 40px;
  }

.email{
    color:var(--slate);
    font-weight:400 ;
    font-size:16px ;
    line-height:1.5 ;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   

}
.email:hover,
.email:focus{
    color: var(--ocean);
}
      /* LOGO */
.logo{
    font-family: "Raleway", sans-serif;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--iris);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17 ;
    margin-right: 76px
   
}
.logo-item{
    font-family: "Raleway", sans-serif;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--navy-blue-modal);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    
    
   
}
/* LOGO FOOTER */
.logo-footer{
    font-family: "Raleway", sans-serif;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--iris);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17 ;
    display: inline-block; 
    margin-bottom: 16px;
}

.list-link{
    letter-spacing: 0.02em;
    color:var(--slate);
    padding: 0px;
}

.hero-header{
     margin-left: auto; 
     margin-right: auto; 
    margin-bottom: 48px;
    width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--white);
    max-width: 496px;

}

.hero-button{
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    min-width: 169px ;
    display: block;
    height: 56px;
     margin: auto; 
    
    background-color: var(--iris); 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em ;
    color: var(--white);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    

}
.hero-button:hover,
.hero-button:focus{
    background-color: var(--ocean);
}
.visually-hidden{
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
      }
/* STRATEGY-ICONS */
.strategy-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px; 
    background-color:var(--cloud);
    border-radius: 4px;
    margin-bottom: 8px;
}
/* OUR-TEAM SECTION ICON */
.div-team{
    /* padding: 32px 16px;
    border-radius: 0px 0px 4px 4px;  */
    padding-top: 32px;  
    padding-bottom: 32px;
}
.list-icon{
    display: flex; 
    justify-content: center; 
    gap: 24px;

}
.li-icon{
 width: 40px;
 height: 40px;

}
.link-icon{
width: 100%; 
height: 100%;
background-color:var(--iris);
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-icon:hover,
.link-icon:focus {
    background-color:var(--ocean)
}
.svg-team{
    fill:var(--cloud) ;
}



/* Porfolio button */
.button-all{
    background:var(--ocean);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.buttons:hover,
.buttons:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color:var(--white);
  background: var(--ocean);
}
/* portfolio btn */
.list-buttons{
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
    gap: 24px; 
}

.button{
    background:var(--cloud);
    border: 1px solid var(--cornflower);
    border-radius: 4px;
}
  /* buttons portfolio */
.buttons{
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:var(--iris);
    background-color: var(--cloud) ;
    cursor: pointer;
    padding: 12px 24px ;
    border: 1px solid var(--cornflower);

    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons:hover{
    color:var(--white);
    background-color: var(--ocean);
    border: 1px solid transparent;
}
.buttons:focus{
    color: var(--white);
    background-color: var(--ocean);
    border: 1px solid transparent;
}

/* finish portfolio button */

/* ANIMATIONS */
.animations{
    position: relative;
    overflow: hidden;
} 
.text-animations{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px 0;
    background-color: #4d5ae5;
    transform: translatey(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.lien-portfolio:hover .text-animations {
    transform: translatey(0);
  }
.text-animations > p {
    width: 296px;
    min-height: 96px;
  
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
  } 
  /* portfolio link */
.lien-portfolio{
    /* display: block; */
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.lien-portfolio:hover,
.lien-portfolio:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}



.hero{
    padding: 188px 0;
    text-align: center;
    background-color:var(--grey);

    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img-name.jpg); 
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    margin-right: auto;
    margin-left: auto;
    max-width: 1440px;
    height: 600px;
}



/* Title text section */

.title{
    letter-spacing: 0.02em;
    color: var(--grey);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2 ;
    margin-bottom: 8px; 
}


.title-text{
    letter-spacing: 0.02em;
    color:var(--slate);
    font-size: 16px;
    line-height: 1.5;

}
.text{
    margin-bottom: 72px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:var(--navy-blue-modal);
    font-size: 36px;
    line-height: 1.11;
    text-align: center;


}
.team-text{
    margin-bottom: 72px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:var(--navy-blue-modal);
    font-size: 36px;
    line-height: 1.11 ;
    text-align: center;
}

/* portfolio img css */
.portfolio-ul{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-div{
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
  
    border-bottom: 1px solid var(--cornflower);
    border-left: 1px solid var(--cornflower);
    border-right: 1px solid var(--cornflower);
}
.item-portfolio{
    color: var(--grey);
    width: calc((100% - 2 * 24px) / 3);
}

/* portfolio text img */

.caption{
    font-weight: 500 ;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:var(--grey) ;
    margin-bottom: 8px;

}

.subtitle{
    font-weight: 400;
    font-size: 16px ;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:  var(--slate);
}



.text-item{
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.text-under{
  letter-spacing: 0.02em;
  color:var(--slate);

}

/* portfolio images  */
.images-style{
    background: var(--white);
    border: 1px solid var(--cornflower);
}

.goit-team{  
    text-align: center;
  width: calc((100% - 3 * 24px) / 4); 
    background:var(--white);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}
/* .goit-team:nth-child(4n) { */
    /* margin-right: 0; */
  /* } */
.section-team{
    padding-top: 120px; 
    padding-bottom: 120px;
    background: var(--cloud);
}




/* section icons */
.icons-section{
    padding-top: 120px;
    padding-bottom: 120px;
}
.icons-list{
  display: flex;
  gap: 24px;
}
.icons{
    width: calc((100% - 120px) / 6);
    height: 88px;
}
.icons-links{
    display: flex;
    align-items: center;
    justify-content: center;
    color:var(--light-slate);
    height:100% ;
    border: 1px solid var(--light-slate); 
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icons-links:hover,
.icons-links:focus{
  border-color: var(--ocean);
  color: var(--ocean);
}
.svg{
    fill: currentColor;
}
.customers-title{
    margin-bottom: 72px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:var(--navy-blue-modal);
    font-size: 36px;
    line-height: 1.1 ;
    text-align: center; 
}


/* Contacts Submit order Servise */
.title-contacts{
 font-family: "Roboto";
 font-style: normal;
 font-weight: 500;
 font-size: 16px;
 line-height: 24px;
 text-align: center;
letter-spacing: 0.02em;
color: #2E2F42;
margin-bottom: 8px;
}
.label-js{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 0.04em;
    color: #8E8F99;
}
.retreat{
    margin-bottom: 4px;
}
.label-js:focus-within{
    fill: #404bbf;
  }
.label-textarea{
    margin-bottom: 16px;
}
.span-js{
    width: 100%;
}
.svg-connections{
    position: absolute;
    top: 50%;;
    left: 19px;
    align-items: center;
    justify-content: center;
}
.input-modal{
    padding: 11px;
    padding-left: 38px;
    width: 100%;
    height: 40px;
    outline: none;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
}
.input-modal:focus,
.textarea:focus{
    border: 1px solid #4D5AE5;
}
.textarea{
    padding-top: 8px;
    padding-left: 16px;
    width: 100%;
    min-height:120px ;
    resize: none;
    outline: none;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
  }
  .textarea::placeholder{
   font-weight: 400;
   font-size: 12px;
   line-height: 1.7;
   letter-spacing: 0.04em;
   color: rgba(46, 47, 66, 0.4);
  }
  /* Checkbox */
.label-checkbox{
    position: relative;
    display: flex;
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-top: 20px;

}
.input-checkbox{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.span-checkbox{
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
}
.input-checkbox:checked ~ .span-checkbox{
    background-size: contain;
    border-radius: 2px;
    border: none;
    background-image: url(../images/checkbox.svg);
}
  .checkbox:focus ~ .span-checkbox{
     outline: 1px solid rgba(46, 47, 66, 0.4);
     border-radius: 2px;     
  }
  
.span-policy{
     font-family: 'Roboto';
      font-style: normal;
    font-weight: 400;
    font-size: 12px;
     line-height: 16px;
    color: #4D5AE5;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
}
/* BTN SUBMIT */
.btn-submit{
    width: 169px;
    height: 56px;
    padding: 16px 32px;
    background: #4D5AE5;
    cursor: pointer;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 500;
    color: #FFFFFF;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.btn-submit:hover,
.btn-submit:focus{
  background: #404BBF;
}
/* footer */
.div-footer{
    margin-right: 120px;
}
.social-footer{
    margin-right: 80px;
}
.footer{
    padding: 100px 0;
    background: var(--navy-blue-modal);
}
/* footer text */

.footer-text{
    width: 264px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: var(--cloud);
}
.logo-item-studio{
    display: inline-block;
    font-family: "Raleway",sans-serif;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--cloud);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17 ;

}
/* footer social */
.flex{
    display: flex;
    align-items: baseline;
    /* margin-right: 120px; */
}

.text-media{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--white);
margin-bottom: 16px;

}
.social-list{
    display: flex;
    gap: 16px; 

}
.li-footer{
width: 40px; 
height: 40px;

}
.link-footer{
    width: 100%;
    height: 100%; 
    background-color:var(--iris);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-footer:hover,
.link-footer:focus{
    background-color: var(--green); 
}
.footer-icon{
    fill: var(--cloud);
}

/* footer subcribe */
.footer-modal button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 16px;

    width: 165px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #FFFFFF;
    background: #4D5AE5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-modal button:focus,
  .footer-modal button:hover{
    background-color: #404bbf;
  }
.subcribe-text{
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.form-footer{
    position: relative;
    display: flex;
    gap: 24px;
}
.footer-input{
    padding: 8px;
    padding-left: 16px;
    width: 264px;
    height: 40px;
    color:#ffffff;
    background: none;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}
.footer-input:focus{
    border: 1px solid #4D5AE5;
    border-radius: 4px;
  }
  .footer-input::placeholder{
    color: #FFFFFF;
  }
.icon-send{
    fill: #f4f4fd;
}